@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/style.css" type="text/css">

    <link href="~/Content/css/radiobtn.css" rel="stylesheet" />
    <link href="~/Content/css/dathang.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owlcarousel/assets/owl.theme.default.min.css">
    <link href="~/Content/css/goBack.css" rel="stylesheet" />
    <!-- jquery js -->
    <script src="~/Scripts/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>

    <div class="top">
        @Html.Action("Header", "Display")
    </div>
    <div class="mid" style="">
        @RenderBody()
    </div>

    <!-- Footer Section Begin -->
    <!-- Footer Section End -->

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.nice-select.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.slicknav.js"></script>
    <script src="~/Scripts/mixitup.min.js"></script>

    <script src="~/Scripts/main.js"></script>


    <!-- fancybox js -->
    <script src="~/Scripts/js/jquery.fancybox.js"></script>

    <!-- bxslider js -->
    <script src="~/Scripts/js/jquery.bxslider.min.js"></script>

    <!-- meanmenu js -->
    <script src="~/Scripts/js/jquery.meanmenu.js"></script>

    <!-- owl carousel js -->
    <!-- nivo slider js -->
    <script src="~/Scripts/js/jquery.nivo.slider.js"></script>

    <!-- jqueryui js -->
    <script src="~/Scripts/js/jqueryui.js"></script>

    <!-- bootstrap js -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>

    <!-- wow js -->
    <script src="~/Scripts/js/wow.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Google Map js -->
    <!-- main js -->
    <script src="~/Scripts/js/main.js"></script>

    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/controller/baseController.js"></script>

    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/controller/addToCart.js"></script>
    <script src="~/Scripts/controller/goBack.js"></script>

</body>
</html>
