@media only screen and (max-width:799px)
{
    .back-page{
        display:block;

    }
   
}

@media only screen and (min-width:800px)
{
    .back-page{
        display:none
    }
}
.back-page{
    width:100%;
    background-color: white;
    box-shadow: 0px 1px 2px 0px #e4e0e0;
    position:fixed;
    top:0;
    right: 0;
    z-index:99999;
    font-size:22px;
    padding: 5px 0px 0px 7px;
}
.back-button{
    border:none;
    height:50px;
    background-color:transparent;
    width: 50px;
}
.back-button:active{
    background-color:#ece9e9;
}
.back-button:focus{
    outline:none
}